polkit.addRule(function(action, subject) {
  if (subject.isInGroup("dashcam-transporter") &&
      (action.id == "org.freedesktop.NetworkManager.network-control" ||
       action.id == "org.freedesktop.NetworkManager.wifi.scan" ||
       action.id == "org.freedesktop.NetworkManager.device.wifi" ||
       action.id == "org.freedesktop.NetworkManager.settings.modify.system" ||
       action.id == "org.freedesktop.NetworkManager.settings.modify.own")) {
    return polkit.Result.YES;
  }
});
